$blue:       #594BFF;
$light-blue: #BCC4FF;
$tan:        #FFE6B2;
$red:        #FF5555;
$purple:     #721873;

html, body {
  background-color: $light-blue;
}

.banner .top-bar {
  background-color: white;
  height: auto;
}

.presentation-block {
  background-color: $tan;
}

.simulation-block {
  background-color: $red;
}
